<%= form_with(model: visit, local: true) do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scheduled %>
    <%= form.datetime_select :scheduled, id: :visit_scheduled %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :visit_user_id %>
  </div>

  <div class="field">
    <%= form.label :visitor_name %>
    <%= form.text_field :visitor_name, id: :visit_visitor_name %>
  </div>

  <div class="field">
    <%= form.label :visitor_email %>
    <%= form.text_field :visitor_email, id: :visit_visitor_email %>
  </div>

  <div class="field">
    <%= form.label :visit_type %>
    <%= form.number_field :visit_type, id: :visit_visit_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
