<p id="notice"><%= notice %></p>

<h1>Visit Requests</h1>

<table>
  <thead>
    <tr>
      <th>Scheduled</th>
      <th>Visitor name</th>
      <th>Visitor email</th>
      <th>Visit type</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visit_requests.each do |visit_request| %>
      <tr>
        <td><%= visit_request.scheduled %></td>
        <td><%= visit_request.visitor_name %></td>
        <td><%= visit_request.visitor_email %></td>
        <td><%= visit_request.visit_type %></td>
        <td><%= visit_request.approved %></td>
        <td><%= link_to 'Show', visit_request %></td>
        <td><%= link_to 'Edit', edit_visit_request_path(visit_request) %></td>
        <td><%= link_to 'Destroy', visit_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit Request', new_visit_request_path %>
