<!DOCTYPE html>
<html>
  <head>
    <title>Visitas Guiadas CCU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Visitas Guiadas CCU', root_path, class:'navbar-brand' %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Inicio', root_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recorridos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'CCU', root_path(anchor: 'visita-ccu') %></li>
                  <li><%= link_to 'Date un Rol', root_path(anchor: 'date-un-rol') %></li>
                </ul>
              </li>
              <li><%= link_to 'Agenda tu visita', new_visit_request_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contacto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Directorio', contact_index_path %></li>
                  <li><%= link_to 'Servicio Social', contact_index_path %></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </header>
      <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
            <b>Visitas Guiadas</b>
<br><br>
Visitas a grupos escolares, público en general, niños, adultos mayores y personas con capacidades diferentes.
<br>
Informes: 5622 7008 o visitas@unam.mx
<br>
Facebook: <a href="https://facebook.com/visitasguiadas.ccuunam">Visitas Guiadas CCU UNAM</a>
      <br>
Twitter:  <a href="https://twitter.com/CulturaUNAM">@CulturaUNAM</a>
</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.es.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $('.datepicker').datepicker({
        language: 'es'
      });
    </script>
    </script>
  </body>
</html>
